@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



body {
 font-size: 16px;
 margin: 0;
 font-family: 'Poppins', sans-serif;
 background-image: -webkit-linear-gradient(top, 
   rgba(0,0,0,0.9) 0%, 
   rgba(0,0,0,0) 20%,
   rgba(0,0,0,0) 80%,
   rgba(0,0,0,0.9) 100%
 ),
 -webkit-linear-gradient(left, 
   rgba(0,0,0,0.9) 0%, 
   rgba(0,0,0,0) 20%,
   rgba(0,0,0,0) 80%,
   rgba(0,0,0,0.9) 100%
 ),
 url(assets/desktop-1024x576.jpg);

background-image: -moz-linear-gradient(top, 
   rgba(0,0,0,0.9) 0%, 
   rgba(0,0,0,0) 20%,
   rgba(0,0,0,0) 80%,
   rgba(0,0,0,0.9) 100%
 ),
 -moz-linear-gradient(left, 
   rgba(0,0,0,0.9) 0%, 
   rgba(0,0,0,0) 20%,
   rgba(0,0,0,0) 80%,
   rgba(0,0,0,0.9) 100%
 ),
 url(assets/desktop-1024x576.jpg);
 background-attachment: fixed;
 background-position: right;
 background-repeat: none;
 background-size: cover;
}



@media screen and (min-width:600px) {
     body {
     font-size: 20px;
     }
 }
 
 @media screen and (min-width:1439px){
     html {
         background: linear-gradient(to right, #000, #480349, #000)
     }
 

     body{
         margin: 0 auto;
         width: 50%;
         box-shadow: 0 0 10px #96019b;
     }
 }






/* The side navigation menu */
.sidebar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 1rem;
 margin: 0 1rem;
}

.sidebar a {
 color: white;
 text-decoration: none;
 padding: 1rem 1rem;
 transition: color 0.3s ease-in;
}


/* Active/current link */
.sidebar a.active {
 color: #c2f3d7;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
 color: #96019b;
}

#largeS img {
 float: right;
 padding-right: 1rem;
 max-width: 28px;
 height: auto;
}



@media screen and (max-width:805px) {
 #largeS {
     display: none;
 }
 
}

@media screen and (min-width:805px) {
 .sidebar {
     display: flex;
     padding-top: 1rem;
   }

   #largeS img {
     display: flex;
     padding-right: 2rem;
     transition: transform 0.3s ease-in-out;
   }

   #largeS img:hover {
     transform: scale(1.2);
   }
 }







 #header {
 height: auto;
 padding-bottom: 4rem;
}

#header img {
 display: flex;
 padding-top: 7rem;
 padding-bottom: 2rem;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
}






#pricing {
 padding: 4rem 2rem 3rem 2rem;
 background-color: #c203c93d;
 border-top: 1px solid #81b798;
 border-bottom: 1px solid #81b798;
}

#pricing h2 {
 text-align: center;
 margin-bottom: 3rem;
 color: #c2f3d7;
}

#pricing p {
     text-align: center;
     color: white;
 }

.form {
 background-color: white;
 margin: 0 auto;
 padding: 1rem;
 width: 90%;
 border-radius: 25px;
}

.title {
 color: #96019b;
 font-family: sans-serif;
 font-size: 36px;
 font-weight: 600;
 margin-top: 30px;
}

.input-container {
 height: 50px;
 position: relative;
 width: 100%;
}

.ic1 {
 margin-top: 40px;
}

.ic2 {
 margin-top: 40px;
}

.input {
 background-color: #c8c8cc;
 border-radius: 12px;
 border: 0;
 box-sizing: border-box;
 color: white;
 font-size: 18px;
 height: 100%;
 outline: 0;
 padding: 5px 20px 0;
 width: 100%;
}

::placeholder {
 color: white;
 font-size: 0.8rem;
}

.submit {
 background-color: #96019b;
 border-radius: 12px;
 border: 0;
 box-sizing: border-box;
 color: #eee;
 cursor: pointer;
 font-size: 18px;
 font-weight: bold;
 height: 50px;
 margin-top: 4rem;
 outline: 0;
 text-align: center;
 width: 100%;
}

.submit:active {
 background-color: #81b798;
}



@media screen and (min-width:719px){
 .form {
     padding: 1rem 2rem;
 }
}





footer {
 margin: 0 auto;
 text-align: center;
 padding-top: 1rem;
 padding-bottom: 1rem;
 width: 70%;
 font-size: 11px;
 color: white;
}

 